.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS cho table */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* CSS cho các nút */
.btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: #e0e0e0;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #a0a0a0;
}

.btn-delete {
  display: inline-block;
  padding: 8px 12px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.btn-delete:hover {
  background-color: #cc0000;
}